body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

#login_body {
    height: 100%;
    background-image: url("../images/background.png");
    background-position: center;
    background-size: cover;
    /* 如果希望背景铺满整个页面，可以使用 background-size: cover; */
    /* 如果希望背景图片始终保持原始尺寸，可以使用 background-size: contain; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* 可以使用 flex 属性来使内容垂直水平居中 */
}
#login_body .login_b_center{
    width: 1200px;
    height: 600px;
    margin: 0 auto;
    position: relative;
}
#login_body .login_bg{
    width: 350px;
    height: 351px;
    background: rgba(255,255,255,0.9);
    position: absolute;
    right: -10px;
    top: 80px;
    padding: 30px;

}
#login div{
    height: 40px;
    margin-top: 20px;
}

#login input{
    width: 250px;
    height: 40px;
    
}
#login .login_btn input{
    background-color: coral;
    width: 300px;
    border: none;
    color: whitesmoke;
    float: left;

}
#login .login_btn a:hover{
    color: blue;
    float: left;

}
#login .forgot_password{
    text-align: right;
    margin-top: 20px;
}
a{
    text-decoration:none;
}



