<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="shortcut icon" href="images/camera.ico">
    <link rel="stylesheet" href="styles/login.css">
    <link rel="stylesheet" href="styles/header.css">
</head>
<body>

<!--中部-->
<div id="login_body">
    <div class="login_b_center">
        <div class="login_bg">
            <h1>登录</h1>
            <form action="#" id="login">
<!--                //用户名-->
                <div class="userName">
                    <span>用户:</span><input type="text">
                </div>
<!--                //密码-->
                <div class="password">
                    <span>密码:</span><input type="password">
                </div>
<!--                //登录按钮-->
                <div class="login_btn">
                    <a href="index.html">
                         <input type="button" value="登录">
                    </a>
                </div>
                <div class="forgot_password">
                    <a href="">忘记密码</a>
                    <a href="regist.html">注册账号</a>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
