<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Submenu in Sidebar</title>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> 
  <script src="../static/scripts/homeworkstay.js"></script> 
  <link rel="stylesheet" href="../static/styles/homeworkstay.css">
  <link rel="stylesheet" href="../static/styles/list.css">
  <script src="../static/plugins/vue3.js"></script>
</head>
<body>

<div class="wrapper">
  <div class="sidebar">
    <ul>
      <li><a href="index.html">首页</a></li>
      <li><a href="#">服务</a>
        <ul class="submenu">
            <li><a href="homeworkstay.html">家居信息查看</a></li>
            <li><a href="homeworkmake.html">增减家居</a></li>
            <li><a href="scene.html">创建特殊情景</a></li>
          </ul>
    </li>
    <li><a href="phonenumber.html">我的</a></li>
    </ul>
    <img src="../static/images/logo.png" alt="logo.png">
  </div>



  <div class="content">
      <p id="romms">{{room}}的家居</p>
      <div id="furniture">
        <table>
          <tr>
            <th>类型</th>
            <th>编号</th>
            <th>状态</th>
          </tr>
          <tr v-for="furniture in furniture_list">

            <th>{{furniture.type}}</th>
            <th>{{furniture.id}}</th>
            <th>{{furniture.state}}</th>
          </tr>
        </table>
      </div>
  </div>

  <script>
    var vm=Vue.createApp({
      data(){
        return{
          furniture_list:[
            {"type":"Refrigerator","id":1,"state":"on"},
            {"type":"tv","id":2,"state":"off"},
            {"type":"curtain","id":3,"state":"on"},
          ]
        }
      }

    }).mount("#furniture") 
    
  </script>


  <div>
    <div id="chartContainer">
      <canvas id="myChart"></canvas>
    </div>
  <script>
    // 假设这是从后台获取的数据，用于创建柱状图
    const backendData = {
      labels: ['降水量/ml', '光照强度', '光照时长/h', '气温℃'], // 柱状图的标签
      values: [10, 20, 15, 25] // 对应标签的值
    };

    // 使用 Chart.js 创建柱状图
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: backendData.labels,
        datasets: [{
          label: '今日天气情况',
          data: backendData.values,
          backgroundColor: 'rgba(54, 162, 235, 0.5)', // 柱状图颜色
          borderColor: 'rgba(54, 162, 235, 1)', // 柱状图边框颜色
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
  </script>
  </div>
</div>

</body>
</html>
