<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Submenu in Sidebar</title>
  <link rel="stylesheet" href="styles/home.css">
  <link rel="stylesheet" href="styles/list.css">
</head>
<body>

<div class="wrapper">
  <div class="sidebar">
    <ul>
      <li><a href="index.html">首页</a></li>
      <li><a href="index.html">服务</a>
        <ul class="submenu">
            <li><a href="homeworkstay.html">家居信息查看</a></li>
            <li><a href="homeworkmake.html">增减家居</a></li>
            <li><a href="scene.html">创建特殊情景</a></li>
          </ul>
    </li>
      <li><a href="phonenumber.html">我的</a></li>
    </ul>
    <img src="images/logo.png" alt="logo.png">
  </div>
  <div class="overlay-container">
    <div class="content">
      <h1>欢迎使用我们的智能家居管理系统！</h1>
      <p>感谢你选择使用我们的智能家居管理系统，我们可以提供如下的服务</p>
      <ul>
        <li><a href="homeworkstay.html">家居信息查看</a></li>
        <li><a href="homeworkmake.html">增减家居</a></li>
        <li><a href="scene.html">创建特殊情景</a></li>
      </ul>
    </div>
  </div>
  <img src="images/youce.png" alt="你的图片">
</div>

</body>
</html>
