<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>

    <link rel="stylesheet" href="../static/styles/regist.css">
    <link rel="shortcut icon" href="../static/images/camera.ico">
</head>
<body>
<!--头部-->
<div id="reg_header">
    <div class="reg_h_center">
        <div class="reg_h_left">
            <h3>欢迎注册</h3>
        </div>
    </div>
</div>

<!--表单内容-->
<div class="reg_back">
    <div class="reg_left">
        <p>新用户注册</p>
        <p>USER REGISTER</p>
    </div>
    <div class="reg_center">
        <div class="reg_form">
            <form  method="post" novalidate>
                {% csrf_token %}
                <table>
                    {% for field in form %}
                        <tr>
                            <td class="td_left"><label for = "{{ field.name }}">{{ field.label }}</label></td>
                            <td class="td_right"><input  id="{{ field.name }}"  
                                name="{{ field.name }}"placeholder="请输入{{ field.label }}">
                            </td>
                            <!-- 数据校验,显示错误信息 -->
                            <span style="color: red;">{{ field.errors.0 }}</span>
                        </tr>
                    {% endfor %}
                    <!-- <tr>
                        <td class="td_left"><label for="username">用户名</label></td>
                        <td class="td_right"><input type="text" name="username" placeholder="请输入用户名"
                                                    id="username"></td>
                    </tr>

                    <tr>
                        <td class="td_left"><label for="password">密码</label></td>
                        <td class="td_right"><input type="password" name="password" placeholder="请输入密码"
                                                    id="password"></td>
                    </tr>
                    <tr>
                        <td class="td_left"><label for="rename">姓名</label></td>
                        <td class="td_right"><input type="text" name="rename" placeholder="请输入真实姓名" id="rename">
                        </td>
                    </tr>
                    <tr>
                        <td class="td_left"><label for="telphone">手机号</label></td>
                        <td class="td_right"><input type="text" name="telphone" placeholder="请输入您的手机号"
                                                    id="telphone"></td>
                    </tr> -->
                    <tr>
                        <td colspan="2" align="center"><input type="submit" value="注册" id="btn_sub"></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
    <div class="reg_right">
        <p>已有账号?<a href="/login/">立即登录</a></p>
    </div>
</div>
</body>
</html>
