<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Submenu in Sidebar</title>
  <link rel="stylesheet" href="../static/styles/list.css">
  <link rel="stylesheet" href="../static/styles/scene.css">
</head>
<body>

<div class="wrapper">
  <div class="sidebar">
    <div class="box"></div>
    <ul>
      <li><a href="index.html">首页</a></li>
      <li><a href="#">服务</a>
        <ul class="submenu">
            <li><a href="homeworkstay.html">家居信息查看</a></li>
            <li><a href="scene.html">创建特殊情景</a></li>
          </ul>
    </li>
    <li><a href="phonenumber.html">我的</a></li>
    </ul>
    <img src="../static/images/logo.png" alt="logo.png">
  </div>
  
    <div id="app" class="container">
      <label for="sceneName">场景名称：</label>
      <input type="text" id="sceneName" v-model="sceneName">
      <button id="create" class="create-button" @click="addScene">添加</button>
      <button id="regist" class="regist-button" @click="resetScene">重置</button>

    </div>
    

  <div id="furniture">
    <table>
      <tr>
        <th>场景名称</th>
        <th>状态</th>
        <th>相关家具</th>
        <th>执行动作</th>
        <th>创建时间</th>
      </tr>
      <tr v-for="furniture in furniture_list" :key="furniture">

        <th>{{}}</th>
        <th>{{}}</th>
        <th>{{}}</th>
        <th>{{}}</th>
        <th>{{}}</th>
       </tr>
      </table>
    </div>
<script>
  var vm=Vue.creatApp({
    data(){
      return{

      }
    }
  }).mount("#furniture")
</script>

<script>
  function getTime() {
      var date = new Date();
      var year = date.getFullYear(); //获取年份
      var month = date.getMonth() + 1; //获取月份
      var day = date.getDate(); //获取日期
      var hour = date.getHours(); //获取小时
      hour = hour < 10 ? '0' + hour : hour;
      var minute = date.getMinutes(); // 获取分
      minute = minute < 10 ? '0' + minute : minute;
      var seconds = date.getSeconds(); //获取秒
      seconds = seconds < 10 ? '0' + seconds : seconds;
      return year + '年' + month + '月' + day + '日&nbsp;' + hour + ':' + minute + ':' + seconds;
  }

  setInterval(function() {
      document.querySelector('.box').innerHTML = getTime();
  }, 1000)
</script>


</body>
</html>
