<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Submenu in Sidebar</title>
  <link rel="stylesheet" href="../static/styles/list.css">
  <link rel="stylesheet" href="../static/styles/scene.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
</head>
<body>

<div class="wrapper">
  <div class="sidebar">
    <div class="box"></div>
    <ul>
      <li><a href="/index/">首页</a></li>
      <li><a href="#">服务</a>
        <ul class="submenu">
            <li><a href="/homeworkstay/">家居信息查看</a></li>
            <li><a href="/scene/">创建特殊情景</a></li>
          </ul>
    </li>
    <li><a href="/wode1/">我的</a></li>
    </ul>
    <img src="../static/images/logo.png" alt="logo.png">
  </div>
  
    <div id="app" class="container">
      <label for="sceneName">场景名称：</label>
      <input type="text" id="sceneName" v-model="sceneName">
      <button id="create" class="create-button" @click="addScene">添加</button>
      <button id="regist" class="regist-button" @click="resetScene">重置</button>

    </div>
    

    <div id="furniture">
      <table>
        <tr>
          <th>序号</th>
          <th>场景名称</th>
          <th>最近执行时间</th>
          <th>创建时间</th>
          <th>查询<input type="text" v-model="query" placeholder="输入要查询的内容"></th>
        </tr>
        <tr v-for="(furniture, index) in furniture_list" :key="furniture.id">
          <th>{{ index + 1 }}</th>
          <th>{{ furniture.name }}</th>
          <th>{{ furniture.lastExecutionTime }}</th>
          <th>{{ furniture.creationTime }}</th>
          <th>
            <a href="./seescene" class="change-button">编辑</a>
            <button type="button" @click="showSuccessMessage()">应用</button>
            <button class="delete-button" @click="deleteItem(furniture)">删除</button>
          </th>
        </tr>
      </table>
    </div>
    
    <script>
        function showSuccessMessage() {
      // 在这里使用 alert 显示成功消息
      alert("成功！");
    }
    new Vue({
      el: '#furniture',
      data: {
        query: '',
        furniture_list: [
          { id: 1, name: '回家', lastExecutionTime: '2024/1/6', creationTime: '2024/1/6' },
          { id: 2, name: '出门', lastExecutionTime: '2024/1/8', creationTime: '2024/1/7' },
          { id: 3, name: '睡觉', lastExecutionTime: '2024/1/8', creationTime: '2024/1/8' }
          // Add more data as needed
        ]
      },
      methods: {
        showSuccessMessage() {
          alert("成功！");
        },
        deleteItem(furniture) {
          // Your delete item logic here
        }
      }
    });
    </script>
    

<script>
  function showSuccessMessage() {
      // 在这里使用 alert 显示成功消息
      alert("成功！");
    }
  function getTime() {
      var date = new Date();
      var year = date.getFullYear(); //获取年份
      var month = date.getMonth() + 1; //获取月份
      var day = date.getDate(); //获取日期
      var hour = date.getHours(); //获取小时
      hour = hour < 10 ? '0' + hour : hour;
      var minute = date.getMinutes(); // 获取分
      minute = minute < 10 ? '0' + minute : minute;
      var seconds = date.getSeconds(); //获取秒
      seconds = seconds < 10 ? '0' + seconds : seconds;
      return year + '年' + month + '月' + day + '日&nbsp;' + hour + ':' + minute + ':' + seconds;
  }

  setInterval(function() {
      document.querySelector('.box').innerHTML = getTime();
  }, 1000)
</script>


</body>
</html>
